.sectionCrypto {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
}

.sectionCrypto .ejemploIzquierda {
  width: 50%;
  max-width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionCrypto .ejemploIzquierda h3 {
  width: 80%;
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.sectionCrypto .ejemploIzquierda p {
  margin-top: 2rem;
  width: 80%;
  font-size: 1.3rem;
  color: white;
  font-weight: 300;
  line-height: 2.5rem;
}

.sectionCrypto .ejemploIzquierda a {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #294975;
  background-color: #294975;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.sectionCrypto .ejemploIzquierda a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.3s all ease;
}

.sectionCrypto .ejemploDerecha {
  width: 50%;
  max-width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sectionCrypto .ejemploDerecha img {
  width: 40%;
}

.ejemploDerecha h3 {
  width: 80%;
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

.ejemploDerecha p {
  margin-top: 2rem;
  color: white;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 300;
}

.ejemploDerecha .calculadoraContainer .primerLinea p {
  width: 50%;
}
.ejemploDerecha .calculadoraContainer .primerLinea input {
  width: 50%;
}
.ejemploDerecha .calculadoraContainer .segundaLinea p {
  width: 50%;
}
.ejemploDerecha .calculadoraContainer .segundaLinea input {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .sectionCrypto {
    flex-direction: column;
    align-items: center;
  }
  .sectionCrypto .ejemploIzquierda {
    width: 100%;
  }
  .sectionCrypto .ejemploIzquierda p {
    width: 100%;
  }

  .sectionCrypto .ejemploDerecha {
    width: 100%;
    margin-top: 3rem;
  }

  .sectionCrypto .ejemploDerecha h3 {
    width: 100%;
  }
  .sectionCrypto .ejemploDerecha p {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .sectionCrypto .ejemploIzquierda h3 {
    font-size: 1.3rem;
    width: 100%;
  }
  .sectionCrypto .ejemploIzquierda p {
    font-size: 1.1rem;
    width: 100%;
  }
  .sectionCrypto .ejemploIzquierda a {
    font-size: 1.1rem;
  }

  .sectionCrypto .ejemploDerecha h3 {
    font-size: 1.3rem;
    width: 100%;
  }
  .sectionCrypto .ejemploDerecha img {
    width: 50%;
  }
  .sectionCrypto .ejemploDerecha p {
    font-size: 1.1rem;
    width: 100%;
  }

  .calculadoraContainer .primerLinea p {
    width: 50%;
    margin-top: 0;
    font-size: 0.9rem;
  }

  .calculadoraContainer {
    width: 100%;
  }

  .calculadoraContainer .primerLinea input {
    width: 50%;
    font-size: 1.1rem;
  }
  .calculadoraContainer .segundaLinea p {
    width: 50%;
    margin-top: 0;
    font-size: 0.9rem;
  }
  .calculadoraContainer .segundaLinea input {
    width: 50%;
    font-size: 1.1rem;
  }
}
