.calculadoraContainer {
  width: 90%;
  height: auto;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.05rem solid white;
  border-radius: 2rem;
}

.calculadoraContainer .primerLinea {
  width: 100%;
  height: auto;
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculadoraContainer input {
  width: 50%;
  height: auto;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.calculadoraContainer .primerLinea p {
  width: 50%;
  margin-top: 0;
  font-size: 0.9rem;
}

.calculadoraContainer .segundaLinea {
  width: 100%;
  height: auto;
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculadoraContainer .segundaLinea p {
  width: 50%;
  margin-top: 0;
  font-size: 0.9rem;
}
