.ejemplosContainer {
  width: 100%;
  margin-bottom: 4rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ejemplosContainer h2 {
  margin: 2rem 0rem;
  text-align: center;
  font-size: 1.8rem;
}

.ejemplosContainer h2 {
  margin: 2rem 0rem;
  text-align: center;
  font-size: 1.8rem;
}

.ejemplosContainer .cardsContainer {
  width: 90%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ejemplosContainer .cardsContainer .ejemploCard {
  width: 25rem;
  height: 20rem;
  margin: 2rem 0.5rem 0rem 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.ejemplosContainer .cardsContainer .ejemploCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 1rem;
}

.ejemplosContainer .cardsContainer .ejemploCard .letrasEjemplo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.ejemplosContainer .cardsContainer .ejemploCard .letrasEjemplo h4 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.ejemplosContainer .cardsContainer .ejemploCard:hover .letrasEjemplo h4 {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

@media screen and (max-width: 374px) {
  .ejemplosContainer {
    padding: 0rem;
  }
  .ejemplosContainer .cardsContainer {
    width: 100%;
    border-radius: 0rem;
  }
  .ejemplosContainer .cardsContainer .ejemploCard {
    width: 100%;
    margin: 0rem;
    margin-top: 2rem;
    border-radius: 0rem;
  }
  .ejemplosContainer .cardsContainer .ejemploCard img {
    border-radius: 0rem;
  }
  .ejemplosContainer .cardsContainer .ejemploCard .letrasEjemplo {
    border-radius: 0rem;
  }
}
