.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeee;
}

.main .banner {
  width: 100%;
  max-height: 400px;
  display: flex;
  position: relative;
  /* margin-top: 4rem; */
}

.main .banner img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.main .banner .letrasBanner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
}

.main .banner .letrasBanner h1 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.8rem;
  text-align: center;
}

.main .semiHero {
  width: 100%;
  height: auto;
  max-width: 1500px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .semiHero h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.main .semiHero .texto {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
}

.main .semiHero .texto .textoIzquierda {
  width: 50%;
  height: auto;
}

.main .semiHero .texto .textoIzquierda img {
  width: 80%;
}

.main .semiHero .texto .textoDerecha {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .semiHero .texto .textoDerecha h3 {
  font-size: 1.8rem;
  text-align: center;
}

.main .semiHero .texto .textoDerecha p {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

@media screen and (max-width: 1000px) {
  .main .semiHero .texto {
    flex-direction: column;
    align-items: center;
  }
  .main .semiHero .texto .textoIzquierda {
    width: 50%;
  }
  .main .semiHero .texto .textoDerecha {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .main .banner .letrasBanner h1 {
    font-size: 1.5rem;
  }

  .main .semiHero h2 {
    font-size: 1.5rem;
  }

  .main .semiHero .texto .textoDerecha h3 {
    font-size: 1.3rem;
  }
  .main .semiHero .texto .textoDerecha p {
    font-size: 1.1rem;
  }
}
