.noticiasContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeee;
}

.noticiasContainer h3 {
  width: 85%;
  max-width: 1500px;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.noticiasContainer .primeraFila {
  width: 90%;
  max-width: 1500px;
  margin-top: 1rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.noticiasContainer .segundaFila {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noticiasContainer .segundaFila a {
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  color: white;
  background-color: #1d3557;
  border: 0.05rem solid #1d3557;
  text-decoration: none;
  border-radius: 0.5rem;
}

.noticiasContainer .segundaFila a:hover {
  background-color: white;
  color: #1d3557;
  transition: 0.3s all ease;
}
