.navBarContainer {
  width: 100%;
  height: 4rem;
  padding: 0rem 0.5rem;
  background-color: #1d3557;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /* position: fixed;
  z-index: 999; */
}

.navBarContainer .logo img {
  width: 3rem;
}

.navBarContainer .navegacion {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBarContainer .navegacion a {
  height: 100%;
  margin-left: 0.5rem;
  padding: 0rem 1rem;
  font-size: 1.1rem;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navBarContainer .navegacion a:hover {
  background-color: #132238;
}

.hamburguesa {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  visibility: hidden;
  margin-top: -100rem;
}

.hamburguesa .linea {
  width: 100%;
  height: 0.1rem;
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .navBarContainer .navegacion {
    position: absolute;
    visibility: hidden;
    margin-top: -100rem;
  }

  .navBarContainer .expandida {
    width: 20rem;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0rem;
    top: 4rem;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    z-index: 5;
    transition: 0.4s all ease;
  }

  .navBarContainer .expandida a {
    width: 100%;
    height: 3.5rem;
    color: #000;
    font-size: 1.1rem;
    margin-left: 0rem;
    padding: 0rem 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .navBarContainer .expandida a:hover {
    background-color: #1d3557;
    color: white;
  }

  .navBarContainer .hamburguesa {
    position: relative;
    visibility: visible;
    margin-top: 0rem;
  }

  .navBarContainer .hamburguesaCierre {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
    visibility: visible;
    margin-top: 0rem;
  }

  .navBarContainer .hamburguesaCierre .linea {
    width: 100%;
    height: 0.1rem;
    background-color: white;
  }

  .navBarContainer .hamburguesaCierre .l1 {
    transform: rotate(45deg);
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
  }
  .navBarContainer .hamburguesaCierre .l2 {
    position: absolute;
    visibility: hidden;
    margin-top: -100rem;
  }
  .navBarContainer .hamburguesaCierre .l3 {
    transform: rotate(-45deg);
    position: absolute;
    right: 0.5rem;
    top: 1.2rem;
  }
}
